<!DOCTYPE html>
<html ng-app="despesaModule">
<head>
	<meta-charset="utf-8">
	<title>Lançamento - Conta Simples</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="control/despesaControl.js"></script>
</head>
<body ng-controller="despesaControl">
    <div class="jumbotron">
        <div class="container">
			<div ng-include="'menu2.html'"></div>
			<div class="panel panel-default">
				<div class="panel-heading">Lançamento - {{movimentos[1].conta.cliente.nomeCliente}}</div>
				<div class="panel-body">
					<div>
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active">
					    	<a href="#cadastro" aria-controls="cadastro" role="tab" data-toggle="tab">Cadastro</a>
					    </li>
					    <li role="presentation">
					    	<a href="#dados" aria-controls="dados" role="tab" data-toggle="tab">Dados</a>
					    </li>
					  </ul>
					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="cadastro">
							<br>
							<button type="button" class="btn btn-info" ng-click="novo()">Novo</button>
							<button type="button" class="btn btn-success" ng-click="salvar()">Salvar</button>
							<button type="button" class="btn btn-danger" ng-click="excluir()">Excluir</button>
							<hr/>
					    	<form>
							
							    <!-- <label for="exampleInputCodigo">Código</label>  -->
							    <input type="hidden" disabled="true" class="form-control" ng-model="movimento.codigoMovimento" placeholder="Número do movimento ... !">
							
							  <div class="form-group col-md-6">
							    <label for="exampleInputNome">Data</label>
							    <input type="text" class="form-control" ng-model="movimento.dataMovimento" placeholder="Insira a data do lançamento ... !">
							  </div>
							  <div class="form-group col-md-6">
							    <label for="exampleInputDeswcdricao">Descrição</label>
							    <input type="text" class="form-control" ng-model="movimento.descricaoMovimento" placeholder="Digite a descrição do lançamento ... !">
							  </div>
							  <div class="form-group col-md-6">
							    <label for="exampleInputTipo">Tipo(receita/despesa)</label>
							    <input type="text" class="form-control" ng-model="movimento.tipoMovimento" placeholder="Digite o tipo de lançamento ... !">
							  </div>
							  <div class="form-group col-md-6">
							    <label for="exampleInputValor">Valor</label>
							    <input type="number" class="form-control" ng-model="movimento.valorMovimento" placeholder="Digite o valor do lançamento ... !">
							  </div>
							</form>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="dados">
						<br>
						<input type="text" class="form-control" ng-model="criterio" 
						placeholder="O que você está procurando?" /><br>
					    	<table class="table table-hover">
					    		<th>Código</th>
					    		<th>Data</th>
					    		<th>Descrição</th>
					    		<th>Tipo</th>
					    		<th>Valor</th>
		
					    		<tr ng-repeat="movimentoTabela in movimentos | filter:criterio" ng-click="seleciona(movimentoTabela);">
					    			<td>{{movimentoTabela.codigoMovimento}}</td>
					    			<td>{{movimentoTabela.dataMovimento}}</td>
					    			<td>{{movimentoTabela.descricaoMovimento}}</td>
					    			<td>{{movimentoTabela.tipoMovimento}}</td>
					    			<td>{{movimentoTabela.valorMovimento}}</td>
					    		</tr>
					    		<tr>
							</tr>	
							</table>
					    </div>
					    
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>